<BottomNavigation>
    <TabStrip>
        <TabStripItem>
            <Label text="Collections"></Label>
            <Image src="font://&#xf01c;" class="fa t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="News Feed"></Label>
            <Image src="font://&#xf1ea;" class="fa t-36"></Image>
        </TabStripItem>

        <TabStripItem>
            <Label text="Shopping Lists"></Label>
            <Image src="font://&#xf07a;" class="fa t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="newsFeedTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="shoppingListsTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
